<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{{page.title}}} - Lily</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="css/docstyle.css" rel="stylesheet"> 
        <link href="css/codemirror.css" rel="stylesheet">
        <link href="css/sandbox.css" rel="stylesheet">

        <script src="js/lily_sandbox.js" type="text/javascript"></script>
        <script src="js/codemirror.js"></script>
    </head>

    <body role="document" onload="ready();">
        <div id="exampleroot" style="display:none">
{{{page.body}}}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar-nav">
                        <div class="well">
                            <ul class="nav">
{{{page.nav}}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="editorbox">
                        <div>
                            <select id="selectexample" onchange="updatecontent()">
                            </select>
                        </div>
                        <br>
            
                        <div id="editor"></div>
                        <button class="runbutton" type="button" onclick="execute()">Execute</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span>Output</span>
                    <br />
                    <textarea id="results" rows="8" disabled="1"></textarea>
                </div>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/prep_sandbox.js"></script>
    </body>
</html>
