<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{{page.title}}} - Lily</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="css/docstyle.css" rel="stylesheet">
    </head>

    <body role="document">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav">
                <div class="well">
                    <ul class="nav">
{{{page.nav}}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{{page.body}}}
        </div>
    </div>
</div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
